@font-face:{
	font-family: RBNo2;
	src:url(RBNo2Light.otf);
}

@font-face{
	font-family: AdobeHeitiStd-Regular;
	src:url(AdobeHeitiStd-Regular.otf);
}

header{position: fixed;top: 5px;margin:0 auto;left: 0;right:0;z-index: 10;
	background-color: #727272;color: white;font-family: RBNo2;font-size: 45px;
	text-align: center;
	width: 500px;height: 50px;
	border-radius: 10px;margin: auto;

}
body{
	background-image: url(seigaiha.png);
}
nav{position: fixed;top: 0;left:0;z-index: 8;width: 100%;
background-color: #f44336;height: 150px;text-align:center;box-shadow: 0 3px 3px 2px #727272;
}

nav ul{
	padding-top:0;list-style-type: none;font-family: SimHei;width: 80%;
	background-color: #d32f2f;border-radius: 5px;margin: 80px auto 10px auto;min-width: 1080px;

}

nav ul li {
	display: inline;
	font-size: 28px;color: white;
	padding-left: 50px;padding-right:50px;
}

nav ul li a:link{
	text-decoration: none;color: white;
}
nav ul li a:visited{
	text-decoration: none;color: #FFF;
}

nav ul li a:hover{
	text-decoration: none;color: #727272;
}
nav ul li a:active{
	text-decoration: none;color:#727272;
}

div{
	margin-top: 130px;
}

h1 {border-radius: 10px;
	background-color: #212122;color: white;font-family: RBNo2;
	width: 150px;height: 300px; position: absolute;left: -20px;
	padding-left: 50px;padding-top: 50px;box-shadow: 3px 0 3px 0 #727272;z-index: 5;
}

.inner{
	position: relative;left: 25%;padding-top: 50px;font-family: SimHei;
}
#Hobbits p{
	display: inline-block;margin-right: 80px;width: 25%;max-width: 200px;text-align: center;
}


#Photos img{
	width: 300px;height: 300px;
}

#Hobbits img{
	width: 250px;height: 250px;
}

footer{
	background-color: #727272;color: white;font-family: RBNo2;
	font-size: 16px;margin: 100px auto;width:10%;text-align: center;border-radius: 3px;
}
