.slider{
    background-color: white;
    width:90%;
    text-align: center;
    margin: 100px auto;
}

input{
    display: block;
    margin: 0 auto;
}

#LOGO{
    width:32px;height: 32px;
    float: left;margin: 2px 30%;
}