#logo{
    height:35px;
    width:35px;
    margin-right: 13px;
    -webkit-filter:invert(100%);
}

.readprocess{
    color: #0c82df;
    width: 60px;
    font-size: 12px;
}

.list-block ul:after{
    display: none;
}

ul .accordion-item .bookname{
    width: 65%;
    display: inline-block;
    white-space: normal;
}

ul li .item-title{
    width: 90%;
}