<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map-schematize</title>
    <link rel="stylesheet" href="stylesheets/map-style.css">
    <link rel="stylesheet" href="stylesheets/zui.css">
    <link rel="stylesheet" href="stylesheets/flatpickr.min.css">
</head>
<body>
    <!-- 地图容器 -->
    <div id="map-container"></div>

    <!-- 侧栏容器 -->
    <div id="right-panel">

        <!--保存按钮-->
        <a href="#" class="btn icon-save" id="save-btn"></a>

        <!-- 导航栏 -->
        <ul class="nav nav-secondary">
            <li v-bind:class="{ active: router == 1 }"><a href="#" v-on:click="router = 1">节点</a></li>
            <li v-bind:class="{ active: router == 2 }"><a href="#" v-on:click="router = 2">路径</a></li>
            <li v-bind:class="{ active: router == 3 }"><a href="#" v-on:click="router = 3">关于</a></li>
        </ul>

        <!-- nodes 模块容器-->
        <transition name="fade">
        <div class="nodeTab-container" v-show="router == 1">
            <!-- 存放基础信息容器 -->
            <div class="panel" id="basic-information">
                <div class="panel-heading">基本项</div>
                <div id="basic-info-list" class="list-group">
                    <a class="list-group-item" >
                        <h5 id="city" class="list-group-item-heading">目标城市：</h5>
                        <span class="list-group-item-text">{{ city }}</span>
                        <div id="search-city-container" class="input-group" style="display: none">
                            <input id="search-city" type="search" class="form-control" placeholder="city">
                            <span class="input-group-btn">
                                <button id="search-city-btn" class="btn btn-default" type="button"><span class="icon-location-arrow"></span></button>
                            </span>
                        </div>
                    </a>

                    <a class="list-group-item" id="date">
                        <h5  class="list-group-item-heading">出行日期：</h5>
                        <p class="list-group-item-text">{{ date }}</p>
                    </a>
                </div>
            </div>

            <!-- 存放节点列表容器 -->
            <div class="panel">
                <div class="panel-heading">节点列表</div>
                <div class="alert alert-warning-inverse" v-show=" code == '' ">
                    <h4>请先确定需要出行的城市</h4>
                    <p>上海市请搜索某个区域（例如松江区）</p>
                </div>
                <!-- 搜索框 -->
                <input id="search-node" type="search" class="form-control">

                <!-- 节点列表 -->
                <div id="nodes" class="list-group">
                    <template v-for="item in items">
                        <div v-bind:index="item.index" v-on:mouseover="showCircle(item)" v-on:mouseout="hideCircle">
                            <a v-bind:href="'http://ditu.amap.com/detail/' + item.id" target="_blank" class="list-group-item">
                                <span class="label label-info">{{ item.index + 1 }}</span> {{item.name}}</a>
                            <div class="btn-group">
                                <button class="btn btn-mini">在地图中查看</button>
                                <button class="btn btn-mini btn-danger" v-on:click="deleteNode(item)">删除</button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        </transition>

        <!-- path 模块容器 -->
        <transition name="fade">
        <div class="pathTab-container" v-show="router == 2">
            <div class="alert alert-warning-inverse" v-show=" items.length < 2 ">
                <h4>请先添加两个或更多的节点</h4>
                <p>没有节点无法进行算路噢</p>
            </div>

            <!-- 两两节点之间路径列表 -->
            <div class="panel-group" v-if=" items.length > 1">
                <template v-for="n in (items.length-1)">
                    <div class="panel">
                        <div class="panel-heading">{{ items[n - 1].name }}</div>
                        <div class="panel-body"></div>
                        <div class="panel-footer">{{ items[ n ].name }}</div>
                    </div>
                </template>
            </div>
        </div>
        </transition>

        <!-- about信息容器 -->
        <transition name="fade">
        <div class="aboutTab-container" v-show="router == 3">
            <div class="panel">
                <div class="panel-body">
                    <img src="https://www.dujin.org/sys/bing/1366.php" alt="">
                    <h2>关于:</h2>
                    <p>用Map-schematize规划你出行的路线</p>
                    <p>支持多段路程的混合出行方式算路，给出单个城市内整体流程的出行计划</p>
                    <p>基于高德开放平台API，感谢以下开源库/框架：</p>
                    <p><code>Vue2.x; jQuery; Z UI; sortableJS; Flatpickr</code></p>
                </div>
            </div>
        </div>
        </transition>
    </div>
    <script src="javascripts/Sortable.js"></script>
    <script src="javascripts/vue.js"></script>
    <script type="text/javascript" src="javascripts/jquery-3.1.1.min.js"></script>
    <script src="javascripts/zui.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=b8b286b57b891b2e0b592575695c6b98"></script>
    <script type="text/javascript" src="https://webapi.amap.com/ui/1.0/main.js"></script>
    <script type="text/javascript" src="javascripts/map-main.js"></script>
    <script type="text/javascript" src="javascripts/map-data.js"></script>
    <script src="javascripts/map-vue.js"></script>
    <script src="javascripts/flatpickr.min.js"></script>
</body>
</html>